/* HomePAge Template Styling */
.home .template{
margin: 20px;
box-shadow: 0 0 3px gray;
position: relative;
width: 350px;
/* padding: 0px; */
/* border: 1px solid gray; */
}


.home .template .text{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}

.home .template .text:hover{
    background-color: black;
    opacity: .8;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.home .template button{
    background-color: white !important;
    color: black !important;
    font-size: 16px !important;
    padding: 0 20px;
}

/* Template 1 styling */
.template1-parent{
    color: rgba(7, 0, 0, 0.693);
    padding: 100px;
    
}
.template1-parent h1{
  font-size: 35px;
 font-weight: bold;
  
}

.template1-parent p{
    font-size: 16px;
    margin-top: 1px;
    padding: 0px;
    margin-bottom: 0px;
}

.template1-parent h3{
    font-size: 22px;

}

.template1-parent h6{
    margin: 0 !important;
    padding: 0 !important;
}



.back-btn{
background: white  !important;
color: black !important; 
border: 1px solid black !important;
}